<header class="header">
    <div class="container-fluid header-bg">
        <nav class="navbar navbar-light navbar-expand-lg pt-lg-9 pb-lg-5 py-0">
            <div class="container bg-white rounded-pill py-4 px-lg-9 py-lg-5">
                <h1 class="logo d-flex align-items-center">
                    <a href="index.html" target="_blank">Learning</a>
                </h1>
                <!-- 電腦版 -->
                <div class="d-lg-flex d-none">
                    <div class="pc-menu navbar-nav justify-content-start  align-items-center flex-grow-1 pe-3">
                        <div class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="offcanvasNavbarDropdown navbarDropdownLayer1" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                探索
                            </a>
                            <!-- 第一層 -->
                            <ul class="dropdown-menu menu-level-one" aria-labelledby="navbarDropdownLayer1">
                                <li><a class="dropdown-item dropdown-item-title" href="#">探索全部</a></li>
                                <li><a class="dropdown-item" href="#">音樂</a></li>
                                <li><a class="dropdown-item" href="#">攝影</a></li>
                                <li class="dropdown dropend w-100 position-static">
                                    <a class="dropdown-item active dropdown-toggle d-flex align-items-center justify-content-between" role="button" id="navbarDropdownLayer2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" href="#">
                                        程式
                                    </a>
                                    <!-- 第二層 -->
                                    <ul class="dropdown-menu menu-level-two" aria-labelledby="navbarDropdownLayer2">
                                        <li><a class="dropdown-item dropdown-item-title" href="#">所有程式</a></li>
                                        <li><a class="dropdown-item" href="#">程式入門</a></li>
                                        <li class="dropdown dropend w-100 position-static">
                                            <a class="dropdown-item active dropdown-toggle btn btn-primary-100 d-flex align-items-center justify-content-between" id="navbarDropdownLayer3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" href="#">
                                                網頁前端
                                            </a>
                                            <!-- 第三層 -->
                                            <ul class="dropdown-menu menu-level-three">
                                                <div class="card mb-3 w-100 border-0" aria-labelledby="navbarDropdownLayer3">
                                                    <div class="d-flex gap-2 pb-5 border-bottom border-1 border-gray-40">
                                                        <span class="title-deco"></span>
                                                        <p class="title">熱門網頁前端課程</p>
                                                    </div>
                                                    <div class="d-flex gap-2 pt-5 pb-7 border-bottom border-1 border-gray-40">
                                                        <div class="header-card-img-outer position-relative">
                                                            <span
                                                                class="discount-badge position-absolute badge text-danger-100 bg-danger-10 rounded-pill fs-8 px-2 py-1">8
                                                                折</span>
                                                            <img src="../assets/images//course-5.png" class="img-fluid header-card-img"
                                                                alt="【課程縮圖】小白也會！從零開始學習 Python 程式設計">
                                                        </div>
                                                        <div class="header-card-content">
                                                            <div class="card-body p-0">
                                                                
                                                                <h5 class="title mb-5">小白也會！從零開始學習 Python 程式設計</h5>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center pb-2 border-bottom border-1 border-gray-40">
                                                                    <!-- Avatar -->
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0">
                                                                            <img src="../assets/images/avatar-2.png" class="object-fit-cover" alt="Kelly Hsu">
                                                                        </div>
                                                                        <div class="flex-grow-1 ms-3">
                                                                            Kelly Hsu
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex flex-column">
                                                                        <span class="text-primary-100 title">NT$ 2,480</span>
                                                                        <span class="origin-price fs-9">NT$ 3,200</span>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex justify-content-between py-2">
                                                                    <p class="fs-8">已有 420 位同學加入</p>
                                                                    <div class="d-flex align-items-center gap-1">
                                                                        <span class="material-symbols-outlined icon-filled star-icon">star</span>
                                                                        <span class="star">4.0</span>
                                                                        <span class="comment-num">(333)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex gap-2 pt-5 pb-7 border-bottom border-1 border-gray-40">
                                                        <div class="header-card-img-outer position-relative">
                                                            <span
                                                                class="discount-badge position-absolute badge text-danger-100 bg-danger-10 rounded-pill fs-8 px-2 py-1">8
                                                                折</span>
                                                            <img src="../assets/images//course-5.png" class="img-fluid header-card-img"
                                                                alt="【課程縮圖】小白也會！從零開始學習 Python 程式設計">
                                                        </div>
                                                        <div class="header-card-content">
                                                            <div class="card-body p-0">
                                                                
                                                                <h5 class="title mb-5">小白也會！從零開始學習 Python 程式設計</h5>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center pb-2 border-bottom border-1 border-gray-40">
                                                                    <!-- Avatar -->
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0">
                                                                            <img src="../assets/images/avatar-2.png" class="object-fit-cover" alt="Kelly Hsu">
                                                                        </div>
                                                                        <div class="flex-grow-1 ms-3">
                                                                            Kelly Hsu
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex flex-column">
                                                                        <span class="text-gray-60 title">已購買</span>
                                                                        <span class="origin-price fs-9">NT$ 3,200</span>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex justify-content-between py-2">
                                                                    <p class="fs-8">已有 420 位同學加入</p>
                                                                    <div class="d-flex align-items-center gap-1">
                                                                        <span class="material-symbols-outlined icon-filled star-icon">star</span>
                                                                        <span class="star">4.0</span>
                                                                        <span class="comment-num">(333)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex gap-2 pt-5 pb-7 border-bottom border-1 border-gray-40">
                                                        <div class="header-card-img-outer position-relative">
                                                            <span
                                                                class="discount-badge position-absolute badge text-danger-100 bg-danger-10 rounded-pill fs-8 px-2 py-1">8
                                                                折</span>
                                                            <img src="../assets/images//course-5.png" class="img-fluid header-card-img"
                                                                alt="【課程縮圖】小白也會！從零開始學習 Python 程式設計">
                                                        </div>
                                                        <div class="header-card-content">
                                                            <div class="card-body p-0">
                                                                
                                                                <h5 class="title mb-5">小白也會！從零開始學習 Python 程式設計</h5>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center pb-2 border-bottom border-1 border-gray-40">
                                                                    <!-- Avatar -->
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="flex-shrink-0">
                                                                            <img src="../assets/images/avatar-2.png" class="object-fit-cover" alt="Kelly Hsu">
                                                                        </div>
                                                                        <div class="flex-grow-1 ms-3">
                                                                            Kelly Hsu
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex flex-column">
                                                                        <span class="text-primary-100 title">NT$ 2,480</span>
                                                                        <span class="origin-price fs-9">NT$ 3,200</span>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex justify-content-between py-2">
                                                                    <p class="fs-8">已有 420 位同學加入</p>
                                                                    <div class="d-flex align-items-center gap-1">
                                                                        <span class="material-symbols-outlined icon-filled star-icon">star</span>
                                                                        <span class="star">4.0</span>
                                                                        <span class="comment-num">(333)</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                   
                                                </div>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="#">網頁後端</a></li>
                                        <li><a class="dropdown-item" href="#">網站架設</a></li>
                                        <li><a class="dropdown-item" href="#">資訊安全</a></li>
                                        <li><a class="dropdown-item" href="#">程式語言</a></li>
                                        <li><a class="dropdown-item" href="#">遊戲開發</a></li>
                                        <li><a class="dropdown-item" href="#">資料科學</a></li>
                                        <li><a class="dropdown-item" href="#">人工智慧</a></li>
                                        <li><a class="dropdown-item" href="#">量化分析</a></li>
                                    </ul>            
                                </li>
                                <li><a class="dropdown-item" href="#">程式</a></li>
                                <li><a class="dropdown-item" href="#">藝術</a></li>
                                <li><a class="dropdown-item" href="#">人文</a></li>
                                <li><a class="dropdown-item" href="#">行銷</a></li>
                                <li><a class="dropdown-item" href="#">投資理財</a></li>
                                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                                <li><a class="dropdown-item" href="#">職場技能</a></li>
                                <li><a class="dropdown-item" href="#">生活品味</a></li>
                            </ul>
                            
                        </div>
                        <!-- 搜尋 Bar -->
                        <form class="d-lg-flex position-relative search-sec">
                            <span class="material-symbols-outlined position-absolute top-50 translate-middle-y ms-2">search</span>
                            <button class="btn btn-primary-100 text-nowrap search-btn translate-middle-y" type="submit">搜尋</button>
                            <input class="form-control input-primary-100 ps-9 pe-14" type="text" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
                        </form>
                    </div>
                </div>
                <div class="d-flex">
                    <!-- 手機版通知 & 購物車 icon -->
                    <ul class="d-flex align-items-center d-lg-none">
                        <li class="position-relative mx-3 my-2">
                            <span class="material-symbols-outlined">notifications</span>
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary-100 border border-light rounded-circle">
                        </li>
                        <li class="position-relative mx-3 my-2">
                            <span class="material-symbols-outlined">shopping_cart</span>
                            <span class="badge position-absolute top-0 start-100 translate-middle bg-primary-100 rounded-circle">2</span>
                        </li>
                    </ul>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-body">
                        <!-- 手機版選單 -->
                        <div class="mobile-menu navbar-nav justify-content-start align-items-center flex-grow-1 pe-3 d-lg-none">
                            <div class="nav-item dropdown position-static">
                                <!-- 第一層 -->
                                <ul class="dropdown-menu show menu-level-one" aria-labelledby="navbarDropdownLayer1">
                                    <li><a class="dropdown-item dropdown-item-title" href="#">探索全部</a></li>
                                    <li><a class="dropdown-item" href="#">音樂</a></li>
                                    <li><a class="dropdown-item" href="#">攝影</a></li>
                                    <li class="dropdown dropend w-100 position-static">
                                        <a class="dropdown-item dropdown-toggle btn btn-primary-100 d-flex align-items-center justify-content-between" role="button" id="navbarDropdownLayer2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" href="#">
                                            程式
                                        </a>
                                        <!-- 第二層 -->
                                        <ul class="dropdown-menu menu-level-two" aria-labelledby="navbarDropdownLayer2">
                                            <li><a class="dropdown-item dropdown-item-title" type="button" href="#" id="navbarDropdownLayer2" data-bs-toggle="dropdown"  aria-expanded="false" data-bs-auto-close="outside">所有程式</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">程式入門</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">網頁前端</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">網頁後端</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">網站架設</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">資訊安全</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">程式語言</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">遊戲開發</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">資料科學</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">人工智慧</a></li>
                                            <li><a class="dropdown-item level-two-dropdown-item" href="#">量化分析</a></li>
                                        </ul>            
                                    </li>
                                    <li><a class="dropdown-item" href="#">程式</a></li>
                                    <li><a class="dropdown-item" href="#">藝術</a></li>
                                    <li><a class="dropdown-item" href="#">人文</a></li>
                                    <li><a class="dropdown-item" href="#">行銷</a></li>
                                    <li><a class="dropdown-item" href="#">投資理財</a></li>
                                    <li><a class="dropdown-item" href="#">心靈成長</a></li>
                                    <li><a class="dropdown-item" href="#">職場技能</a></li>
                                    <li><a class="dropdown-item" href="#">生活品味</a></li>
                                </ul>
                                
                            </div>
                        </div>
                        <ul class="d-flex align-items-center gap-lg-5">
                            <li class="position-relative d-none d-lg-block">
                                <span class="material-symbols-outlined">notifications</span>
                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary-100 border border-light rounded-circle">
                            </li>
                            <li class="position-relative d-none d-lg-block">
                                <span class="material-symbols-outlined">shopping_cart</span>
                                <span class="badge position-absolute top-0 start-100 translate-middle bg-primary-100 rounded-circle">2</span>
                            </li>
                            <li class="login-btn">
                                <a href="login.html" class="btn btn-primary-100 w-100 text-nowrap">登入 / 註冊</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>